#Fri, 29 Mar 2013 17:22:33 +0000
app.name=FirstStep

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=eb8e6592-e63f-445c-8909-cad43c6b33e5
